<nav class="u-max-full-width">
  <h1><%= link_to "Avec", "/" %></h1>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "Edit profile", edit_user_registration_path, class: "button button-primary" %></li>
      <li><%= button_to "Logout", destroy_user_session_path, class: "button", method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path, class: "button button-primary" %></li>
      <li><%= link_to "Login", new_user_session_path, class: "button button-primary" %></li>
    <% end %>
  </ul>
</nav>
