<!DOCTYPE html>
<html>
  <head>
    <title>Avec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "normalize", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "skeleton", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="u-full-width">
    <%= render "layouts/nav" %>
    <div class="main">
      <% if user_signed_in? %>
        <p class="logged_in_as">Logged in as <strong><%= current_user.email %></strong>.</p>
      <% end %>
      <%# allows Devise to show alert and notice flash notifications %>
      <% if alert %>
        <p style="color: red"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
